/** @format */

.aboutUs {
  font-family: "Sora";
  font-style: normal;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 750px;
}
.aboutUs h5 {
  font-weight: 700;
  font-size: 45px;
  line-height: 70px;
}

.readMore {
  color: #fff;
  text-decoration: none;
  background-color: #4154f1;
  padding: 15px;
  border-radius: 5px;
}
.readMore:hover {
  color: #fff;
}

.containerImg {
  position: relative;
}

.squareContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  color: #fff;
  position: absolute;
  right: 28px;
}

.squareContainer span:nth-child(1) {
  background-color: #220e3f;
  height: 223px;
  width: 255px;
  padding: 0px 15px 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  position: absolute;
  margin-right: 250px;
}
.squareContainer span:nth-child(1) a {
  text-decoration: none;
  color: #fff;
}
.squareContainer span:nth-child(2) {
  background-color: #4154f1;
  height: 271px;
  width: 255px;
  padding: 0px 15px 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
}
.squareContainer span:nth-child(2) a {
  text-decoration: none;
  color: #fff;
}
/* 
@media screen and (max-width: 1440px) {

  .squareContainer span:nth-child(1) {
    height: 223px;
    width: 255px;
  }
  .squareContainer span:nth-child(2) {
    height: 271px;
    width: 255px;
  }
}
 */
