/** @format */

h5 {
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 35px;
  color: #000000;
}

.footerNavLink li a {
  font-family: "Sora";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
}

.footerIcon {
  color: #4154f1;
  padding-right: 2.5px;
}

@media screen and (max-width: 884px) {
  .footerRow {
    align-items: center;
    flex-direction: row;
  }
  .footerRow div:nth-child(2) {
    flex: 0 0 auto;
    width: 80%;
  }
  .footerRow div:nth-child(3) {
    flex: 0 0 auto;
    width: 80%;
  }
  .footerNavLink div {
    text-align: center;
  }
}
