/** @format */

.blogs {
  font-family: "Sora";
  font-style: normal;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.title {
  font-weight: 700;
  font-size: 45px;
}

.read-or-hide {
  color: #4154f1;
  cursor: pointer;
}

.blogText p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.cardBlog h5 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}
.cardBlog {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.testmimonialText {
  font-weight: 700;
  font-size: 45px;
  line-height: 70px;
}

.testmimonialText p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  padding-left: 50px;
  padding-right: 50px;
}

.iconTestmimonial {
  color: #fff;
}

.testimony-entry .feed-bubble {
  padding: 30px;
  margin-bottom: 20px;
  background: #4154f1;
  position: relative;
  color: #fff;
}

.testimony-entry .feed-bubble::before {
  position: absolute;
  bottom: -10px;
  left: 30px;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #000000 transparent transparent transparent;
}

.testimony-entry .feed-bubble:after {
  position: absolute;
  bottom: -10px;
  left: 30px;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #4154f1 transparent transparent transparent;
}

.testimony-entry .author-img {
  background-image: url("/public/assets/man1.png");
  width: 75px;
  height: 75px;
  background-size: cover;
  background-position: center center;
  position: relative;
  float: left;
  margin-right: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.testimony-entry .user {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;
}
.testimony-entry .userP {
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 0px;
  color: #000000;
}
